NET "io_sel[4]" LOC = P11;
NET "io_sel[4]" IOSTANDARD = LVTTL;
NET "io_sel[5]" LOC = P15;
NET "io_sel[5]" IOSTANDARD = LVTTL;
NET "outbutton[0]" LOC = P51;
NET "outbutton[0]" IOSTANDARD = LVTTL;
NET "outbutton[0]" PULLUP;
NET "outbutton[1]" LOC = P50;
NET "outbutton[1]" IOSTANDARD = LVTTL;
NET "outbutton[1]" PULLUP;
NET "outbutton[2]" LOC = P41;
NET "outbutton[2]" IOSTANDARD = LVTTL;
NET "outbutton[2]" PULLUP;
NET "outbutton[3]" LOC = P40;
NET "outbutton[3]" IOSTANDARD = LVTTL;
NET "outbutton[3]" PULLUP;
NET "outbutton[4]" LOC = P35;
NET "outbutton[4]" IOSTANDARD = LVTTL;
NET "outbutton[4]" PULLUP;
NET "outbutton[5]" LOC = P34;
NET "outbutton[5]" IOSTANDARD = LVTTL;
NET "outbutton[5]" PULLUP;
NET "resetbutton" LOC = P33;
NET "resetbutton" IOSTANDARD = LVTTL;
NET "resetbutton" PULLUP;
NET "confirmbutton" LOC = P32;
NET "confirmbutton" IOSTANDARD = LVTTL;
NET "confirmbutton" PULLUP;
NET "modeswitch[0]" LOC = P30;
NET "modeswitch[0]" IOSTANDARD = LVTTL;
NET "modeswitch[1]" LOC = P29;
NET "modeswitch[1]" IOSTANDARD = LVTTL;
NET "ledplayer[0]" LOC = P17;
NET "ledplayer[0]" IOSTANDARD = LVTTL;
NET "ledplayer[1]" LOC = P16;
NET "ledplayer[1]" IOSTANDARD = LVTTL;
